@font-face {
    font-family: SofiaPro;
    src: url("../fonts/Sofia\ Pro\ Regular.otf") format("opentype");
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../img/Bitmap.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body, p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

p, input {
    font-family: 'Montserrat', sans-serif;
}

.banner_section .sub_heading {
    color: #00B1FF;
    font-size: 16px;
    font-family: 'SofiaPro';
    font-weight: 100;
}

.banner_section .section_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}

.banner_section p {
    font-size: 26px;
    font-weight: 400;
    color: #fff;
}

.banner_section .email_section p {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.mt-lg-150 {
    margin-top: 150px;
}

.email_section input {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    background: transparent !important;
    outline: 0;
    color: #fff !important;
    outline: 0;
}

.email_section input::placeholder {
    color: gray;
    font-weight: 500;
}

.theme-btn {
    background-color: #00B1FF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 10px;
}

.theme-btn:hover {
    background-color: #008cca;
}

.box {
    position: relative;
}

.box .box_overlay {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px 0px;
}

.box_overlay p {
    color: #000;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0px;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.text-theme {
    color: #008cca !important;
}